<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="imu">
    <link name="imu_link"/>
    
    <joint name="imu_to_base_link" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="0.08161 0.0551 .15748" rpy="0 0 1.57"/>
    </joint>
    
  </xacro:macro>
</robot>